{% extends 'base.html.twig' %}

{% block title %}Editer la page{% endblock %}

{% block body %}
<div class="my-5 py-5">
    <div class="col-lg-9 mx-auto">
    <a class="btn btn-info m-1 float-end" href="{{ path('app_page_index') }}">Revenir à la liste</a>

        <h1>Editer la page</h1>

        {{ include('page/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        {{ include('page/_delete_form.html.twig') }}
        

    </div>
</div>
{% endblock %}
