<div class="delete-button_element d-none" id="delete_button">
    <span class="d-block" style="font-weight: bold;">Voulez-vous vraiment effacer cet élément ?</span>
    <div class="d-flex flex-row-reverse">
        <button class="btn-delete btn btn-danger col-md-2 m-1 show--button" id="noButton" value="false">Non !</button>
        <button class="btn-delete btn btn-info col-md-2 m-1 show--button" id="okButton" value="true">Oui !!</button>
    </div>
</div>

<script src="{{ asset('assets/js/popupDelete.js') }}"/></script>