<form method="post" action="{{ path('app_story_delete', {'id': story.id}) }}" onsubmit="return false;" id="confirmDelete">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ story.id) }}">
    <button id='delete' class="btn btn-danger col-md-2 m-1 show--button">Supprimer</button>
</form>

{{ include('partials/_delete_button.html.twig') }}