{{ form_start(form, {'attr':{'class': 'd-inline'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary col-2 m-1 show--button">{{ button_label|default('Ajouter !') }}</button>
{{ form_end(form) }}
