{% extends 'base.html.twig' %}

{% block title %}Modifier une histoire{% endblock %}

{% block body %}
<div class="my-5 py-5">
    <div class="col-lg-6 mx-auto">
    <a class="btn btn-info m-1 float-end" href="{{ path('app_story_index') }}">Revenir à la liste</a>

    <h1>Modifier une histoire</h1>

    {{ include('story/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('story/_delete_form.html.twig') }}


    </div>
</div>
{% endblock %}
