{% extends 'base.html.twig' %}

{% block title %}Ajouter une histoire{% endblock %}

{% block body %}

    <div class="my-5 pt-4">
        <div class="col-lg-6 mx-auto">

            <div class="text-center">
                <h1>Ajouter une histoire</h1>
                <a class="btn btn-info mx-1 my-4" href="{{ path('app_story_index') }}">Revenir à la liste</a>
            </div>
            <div class="text-center mx-1">
                {{ include('story/_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
