{% extends 'base.html.twig' %}

{% block title %}New Choice{% endblock %}

{% block body %}
    <h1>Create new Choice</h1>

    {{ include('choice/_form.html.twig') }}

    <a href="{{ path('app_choice_index') }}">back to list</a>
{% endblock %}
