<form id="confirmDelete" method="post" action="{{ path('app_characters_delete', {'id': character.id}) }}" onsubmit="return false;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ character.id) }}">
    <button id='delete' class="btn btn-danger col-md-2 m-1 show--button">Supprimer</button>
</form>

{{ include('partials/_delete_button.html.twig') }}
